<% provide :title,'All users' %>
<h1>All users </h1>
<%= will_paginate %>
<ul class="users">
  <% @user.each do |one| %>
    <li>
    <%= gravatar_for(one) %>
    <%= link_to one.name,one %>
    <% if current_user.admin? && !current_user?(one) %>
      <%= link_to "delete",one,method: :delete, confirm: "You sure?" %>
    <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
